<% include ./partials/header.ejs %>

 <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1><%= title %></h1>
                </div>
                <p>
                    <%= description %>
                </p>
            </div>
            <div class="col-md-4">
                <% if (short_code == 'my_family') { %>
              <img src="/images/<%= short_code %>.png" alt="<%= title %>">
                <% } else if (short_code == 'anuradha_sharma') { %>
              <img src="/images/<%= short_code %>.ico" alt="<%= title %>">
                <% } else { %>
              <img src="/images/<%= short_code %>.svg" alt="<%= title %>">
                <% } %>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>